<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
  <display-name>mStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>custServEmail</param-name>
    <param-value>sofanib@yahoo.com</param-value>
  </context-param>
  <listener>
    <listener-class>
            music.util.MusicStoreContextListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>music.c.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/c/regPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayServlet</servlet-name>
    <servlet-class>music.c.displayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayServlet</servlet-name>
    <url-pattern>/c/displayPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteDown</servlet-name>
    <servlet-class>music.c.WriteDown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteDown</servlet-name>
    <url-pattern>/c/WritePath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUser</servlet-name>
    <servlet-class>music.c.checkUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUser</servlet-name>
    <url-pattern>/c/checkPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCook</servlet-name>
    <servlet-class>music.c.deleteCook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCook</servlet-name>
    <url-pattern>/c/deleteCPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayInvoiceServlet</servlet-name>
    <servlet-class>music.cart.DisplayInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInvoiceServlet</servlet-name>
    <url-pattern>/cart/displayInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessUserServlet</servlet-name>
    <servlet-class>music.cart.ProcessUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUserServlet</servlet-name>
    <url-pattern>/cart/processUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayCartServlet</servlet-name>
    <servlet-class>music.cart.DisplayCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCartServlet</servlet-name>
    <url-pattern>/cart/displayCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayQuickOrderServlet</servlet-name>
    <servlet-class>music.cart.DisplayQuickOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuickOrderServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCartUserServlet</servlet-name>
    <servlet-class>music.cart.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCartUserServlet</servlet-name>
    <url-pattern>/cart/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <servlet-class>music.cart.CompleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <url-pattern>/cart/completeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>music.catalog.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/catalog/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessInvoiceServlet</servlet-name>
    <servlet-class>music.admin.ProcessInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessInvoiceServlet</servlet-name>
    <url-pattern>/admin/processInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayAdminInvoiceServlet</servlet-name>
    <servlet-class>music.admin.DisplayInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAdminInvoiceServlet</servlet-name>
    <url-pattern>/admin/displayInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayInvoicesServlet</servlet-name>
    <servlet-class>music.admin.DisplayInvoicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInvoicesServlet</servlet-name>
    <url-pattern>/admin/displayInvoices</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayReportServlet</servlet-name>
    <servlet-class>music.admin.DisplayReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReportServlet</servlet-name>
    <url-pattern>/admin/displayReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterProduct</servlet-name>
    <servlet-class>music.email.RegisterProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterProduct</servlet-name>
    <url-pattern>/email/registerProduct</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddToEmailListServlet</servlet-name>
    <servlet-class>music.email.AddToEmailListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToEmailListServlet</servlet-name>
    <url-pattern>/email/addToEmailList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayImageServlet</servlet-name>
    <servlet-class>music.cart.displayImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayImageServlet</servlet-name>
    <url-pattern>/cart/getImage</url-pattern>
  </servlet-mapping>
  <!-- Article -->
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>music.article.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/article/getArticle</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ArticleDisplay</servlet-name>
    <servlet-class>music.article.ArticleDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDisplay</servlet-name>
    <url-pattern>/article/displayArticle</url-pattern>
  </servlet-mapping>
  
  <!-- IPN lISTNER -->
   <servlet>
    <servlet-name>IpnListner</servlet-name>
    <servlet-class>music.ipn.IpnListner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IpnListner</servlet-name>
    <url-pattern>/ipn/ipnLis</url-pattern>
  </servlet-mapping>
  <!-- Security  -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>programmer</role-name>
      <role-name>service</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_error.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>